name: ZMK Firmware Build

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build ZMK firmware
        uses: zmkfirmware/zmk-build-action@main
        with:
          build_matrix_path: build.yaml
